{{! book-details.hbs }}

<h1>{{title}}</h1>
<hr />
<p>Written by: <a href="/authors/{{author._id}}">{{ author.name }}</a></p>
<p>Summary: {{description}}</p>
<p>Rating: {{rating}}/10</p>
<hr />
<a href="/books">Back</a>
<a href="/books/edit/{{_id}}">Edit</a>